.greetings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-width: 390px;
    max-width: 900px;
    height: 300px;
    padding-top: 50px;
    margin: 0 auto;
}