.fixed {
    position: fixed;
}

.burger-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100vh;
    width: 0vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .9);
    transition: width .2s;
    -webkit-transition: width .2s;
    -moz-transition: width .2s;
    -ms-transition: width .2s;
    -o-transition: width .2s;
}

.burger-menu-navbar {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 20px auto 600px 20px;

}

.navbar-link {
    font-family: "Roboto-mono";
    font-size: 40px;
    font-weight: bold;
    color: whitesmoke !important;
}


.close-btn-icon {
    height: 40px;
    width: 40px;
    color: white;
    margin-top: 10px;
    margin-right: 20px;
}

.shown {
    width: 100vw;
}