.burger-menu {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    height: 100vh;
    width: 100%;
    background-color: rgba(124, 184, 85, .9);
}

.burger-menu-navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.burger-menu-close-btn {
    height: fit-content;

}

.hidden {
    display: none;
}