.header-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    max-width: 1400px;
    margin: 0 auto;
}

.menu-btn,
.cart-btn {
    border: none;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.menu-icon,
.cart-icon {
    width: 30px;
    height: 30px;
}

.main-logo {
    width: 156px;
    height: 20px;
}

.cart-btn {
    position: relative;
}

.cart-btn-number {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1px;
    color: whitesmoke;
    background-color: #202020;
    font-size: 10px;
    width: 15px;
    height: 15px;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}