.home-filter {

    display: flex;
    justify-content: flex-start;
    min-width: 390px;
    gap: 10px;
    max-width: 760px;
    margin: 0 auto;
}

.access-filter {
    display: flex;
    justify-content: space-around;
    padding-right: 50px;
    margin: 20px 0 40px;

}