.product-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;
    min-width: 390px;
    max-width: 900px;
    margin: 0 auto;

}