/* RESET */

@font-face {
  font-family: "Rubik-light";
  font-style: normal;
  font-weight: light, 700, bold;
  src: url("../assets/fonts/rubik/Rubik-Light.ttf") format("truetype")
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/rubik/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik-bold";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/rubik/Rubik-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-mono";
  font-style: normal;
  src: url("../assets/fonts/roboto/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;

}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Rubik";
  scroll-behavior: smooth;
  background-color: whitesmoke;
}


/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.main {
  min-height: 80vh;
  width: 100%;
  padding-top: 20px;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

/* INDEX STYLES */

h1,
h2 {
  font-family: "Rubik-bold";
}